.custom-card {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: -webkit-box-shadow, -webkit-filter, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-filter, -webkit-transform;
  transition-property: box-shadow, filter, transform;
  transition-property: box-shadow, filter, transform, -webkit-box-shadow, -webkit-filter, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
          transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.custom-card:hover {
  -webkit-box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.3);
  -webkit-filter: brightness(1.1) contrast(0.95) saturate(1);
          filter: brightness(1.1) contrast(0.95) saturate(1);
  -webkit-transform: rotateX(3deg) translateZ(15px);
          transform: rotateX(3deg) translateZ(15px);
}

.mytasks {
  background: url(../images/mytasks/mytasks-background.png);
  background-repeat: no-repeat;
  background-position: right bottom !important;
}

.card-wrapper {
  -webkit-perspective: 300px;
          perspective: 300px;
  -webkit-perspective-origin: 50%;
          perspective-origin: 50%;
}
