.bootstrap-header {
    color: #53b6fd;
}

.my-container {
    padding-left: 0;
    padding-right: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #dbf0ff;
}

.menu-item {
    color: #53B6FD;
}

.projects__card {
    background-color: #ffffff;
}

.active-user {
    color: #53B6FD;
}

a:hover {
    color: #53B6FD;
}